<ul>
    <li>
      <a href="/snaps">Snaps</a>

      <ul>
          <li><a href="/snaps/intro">What is a snap?</a></li>
          <li><a href="/snaps/philosophy">Snapping philosophy</a></li>
          <li><a href="/snaps/metadata">The snap format</a></li>
          <li><a href="/snaps/structure">Directory structure</a></li>
      </ul>
    </li>
    <li>
      <a href="/core">Core</a>
      <ul>
        <li>
          <a href="/core/install">Install</a>
            <ul>
              <li><a href="/core/install-arch-linux">Arch</a></li>
              <li><a href="/core/install-debian">Debian</a></li>
              <li><a href="/core/install-fedora">Fedora</a></li>
              <li><a href="/core/install-gentoo">Gentoo</a></li>
              <li><a href="/core/install-linux-mint">Linux Mint</a></li>
              <li><a href="/core/install-manjaro">Manjaro</a></li>
              <li><a href="/core/install-oe-yocto">OpenEmbedded/Yocto</a></li>
              <li><a href="/core/install-opensuse">openSUSE</a></li>
              <li><a href="/core/install-openwrt">OpenWrt</a></li>
              <li><a href="/core/install-solus">Solus</a></li>
              <li><a href="/core/install-ubuntu">Ubuntu</a></li>
            </ul>
          </li>
          <li><a href="/core/usage">Usage</a></li>
          <li><a href="/core/store">Snap stores</a></li>
          <li><a href="/core/snapd">The snapd system</a></li>
          <li><a href="/core/interfaces">Interfaces (plugs and slots)</a></li>
          <li><a href="/core/updates">Transactional updates</a></li>
          <li><a href="/core/versions">Multiple snaps versions &amp; garbage collection</a></li>
      </ul>
    </li>
    <li>
      <a href="/build-snaps">Build snaps</a>
      <ul>
          <li><a href="/build-snaps/your-first-snap">Your first snap</a></li>
          <li><a href="/build-snaps/syntax">Snapcraft syntax</a></li>
          <li><a href="/build-snaps/parts">Parts</a></li>
          <li><a href="/build-snaps/plugins">Plugins</a></li>
          <li><a href="/build-snaps/scriptlets">Scriptlets</a></li>
          <li><a href="/build-snaps/hooks">Hooks</a></li>
          <li><a href="/build-snaps/metadata">Commands, daemons <br>and assets</a></li>
          <li><a href="/build-snaps/debugging">Debugging</a></li>
          <li>
            <a href="/build-snaps/builders">Builders</a>
            <ul>
              <li><a href="/build-snaps/build-on-lxd-docker">Build on LXD or Docker</a></li>
              <li><a href="/build-snaps/build-for-another-arch">Build for another architecture</a></li>
              <li><a href="/build-snaps/ci-integration">Build and publish from Git</a></li>
            </ul>
          </li>
          <li><a href="/build-snaps/publish">Publish your snap</a></li>
          <li><a href="/build-snaps/advanced-features">Advanced features</a></li>
          <li>
            <a href="/build-snaps/languages">Languages</a>
            <ul>
                <li><a href="/build-snaps/pre-built">Pre-built apps</a></li>
                <li><a href="/build-snaps/node">Node</a></li>
                <li><a href="/build-snaps/go">Go</a></li>
                <li><a href="/build-snaps/python">Python</a></li>
            </ul>
          </li>
      </ul>
    </li>
    <li>
      <a href="/reference">Reference</a>
      <ul>
          <li><a href="/reference/snap-command">snap command</a></li>
          <li><a href="/reference/snapcraft-command">snapcraft command</a></li>
          <li><a href="/reference/channels">Channels</a></li>
          <li><a href="/reference/confinement">Confinement</a></li>
          <li><a href="/reference/env">Environment variables</a></li>
          <li>
              <a href="/reference/plugins">Plugins</a>
              <ul>
                    <li><a href="/reference/plugins/common"\>Common keywords</a>
                    <li><a href="/reference/plugins/source"\>Common source options</a>
                    <li><a href="/reference/plugins/ant"\>ant</a>
                    <li><a href="/reference/plugins/autotools"\>autotools</a>
                    <li><a href="/reference/plugins/catkin"\>catkin</a>
                    <li><a href="/reference/plugins/cmake"\>cmake</a>
                    <li><a href="/reference/plugins/copy"\>copy</a>
                    <li><a href="/reference/plugins/dump"\>dump</a>
                    <li><a href="/reference/plugins/godeps"\>godeps</a>
                    <li><a href="/reference/plugins/go"\>go</a>
                    <li><a href="/reference/plugins/gradle"\>gradle</a>
                    <li><a href="/reference/plugins/gulp"\>gulp</a>
                    <li><a href="/reference/plugins/kbuild"\>kbuild</a>
                    <li><a href="/reference/plugins/kernel"\>kernel</a>
                    <li><a href="/reference/plugins/make"\>make</a>
                    <li><a href="/reference/plugins/maven"\>maven</a>
                    <li><a href="/reference/plugins/meson"\>meson</a>
                    <li><a href="/reference/plugins/nil"\>nil</a>
                    <li><a href="/reference/plugins/nodejs"\>nodejs</a>
                    <li><a href="/reference/plugins/python"\>python</a>
                    <li><a href="/reference/plugins/python2"\>python2</a>
                    <li><a href="/reference/plugins/python3"\>python3</a>
                    <li><a href="/reference/plugins/qmake"\>qmake</a>
                    <li><a href="/reference/plugins/rust"\>rust</a>
                    <li><a href="/reference/plugins/scons"\>scons</a>
                    <li><a href="/reference/plugins/waf"\>waf</a>
              </ul>

          </li>
          <li><a href="/reference/interfaces">Interfaces</a></li>
      </ul>
    </li>
</ul>
