/// white
$white:                 #fff;
$black:                 #000;

/// This is the global link color, mainly used for links in content
$color-link:            #007aa6;
$link-color:            $color-link;
$primary-button-color:  $white;
$dark-aubergine:        #2c001e;
