.hero-row {
  @extend %vf-clearfix;
  background-color: $light-grey;
  background-image: url('#{$asset-server}0a11c33e-meizu-pro5-background.png');
  background-position: center right;
  background-size: cover;
  border-bottom: 0;
  padding-top: 20px;
  padding-bottom: 0;

  .intro {
    font-size: .875rem;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    padding-top: 60px;
    padding-bottom: 20px;

    .intro {
      font-size: 23px;
      line-height: 1.5;
    }
  }

  @media only screen and (min-width: 984px) {
    &__heading {
      margin-top: 2rem;
    }
  }
}
